<template>
  <div class="user-center">
    <div class="language">
      <div class="label">语言(language)</div>
      <div class="action" :data-active="language === 'zh'" @click="language = 'zh'">中文</div>
      |
      <div class="action" :data-active="language === 'en'" @click="language = 'en'">English</div>
    </div>
    <div class="tip">
      <div class="label">{{ text.tip }}</div>
      <div class="value" v-html="text.tipDesc"></div>
    </div>
    <div class="field">
      <div class="label">{{ text.email }}</div>
      <div class="value">
        <input type="email" v-model="email" :disabled="tokenValid" :placeholder="text.emailDesc" maxlength="64" />
      </div>
    </div>
    <div class="field">
      <div class="label">{{ text.password }}</div>
      <div class="value">
        <input type="text" v-model="password" autocomplete="off" :placeholder="text.passwordDesc" maxlength="64" />
      </div>
    </div>
    <div class="field">
      <div class="label">{{ text.token }} </div>
      <div class="value">
        <input type="text" v-model="token" autocomplete="off" :placeholder="text.tokenDesc" maxlength="64" />
      </div>
    </div>
    <br>
    <button class="button" danger @click="onSubmit" :disabled="!(emailValid && passwordValid)">
      {{loading ? '…' : text.submit}}
    </button>
  </div>
</template>

<script>
import { deleteAccount } from '../api.js'
import throttle from 'lodash-es/throttle'
import account from './account.js'

const text = {
  zh: {
    tip: '提示',
    tipDesc: '注销账号后，已经关联到账号的订单也会作废，且剩余积分不提供退款服务。账号删除为彻底删除，无法找回无法恢复！',
    email: '账号/邮件: ',
    emailInvalid: '请先输入有效的账号(邮箱)',
    emailDesc: '登录Scene所使用的邮箱',
    emailOK: '凭据已经发送至您的邮箱，请查收',
    emailNotFound: '此邮箱未注册为Scene用户，或无关联的激活记录',
    token: '付款凭据: ',
    tokenDesc: '可以是订单号或者激活码',
    password: '登录密码: ',
    passwordDesc: '该账号的登录密码',
    get: '获取',
    submit: '确认删除账号',
    tokenInvalid: '凭据无效，此激活码不存在或未关联任何账号',
    allOK: '您的账号已删除，后会有期',
    unbound: '此订单与此账号无绑定关系',
    tokenRequired: '请输入付款凭据(订单号/兑换码)！',
    passwordInvalid: '密码错误，请重新输入'
  },
  en: {
    tip: 'Tips',
    tipDesc: 'After canceling the account, the orders that have been associated to the account will also be voided and no refund service will be provided. Deletion of an account is a complete deletion and cannot be retrieved or restored!',
    email: 'Account/Email:',
    emailInvalid: 'Please enter a valid account number (email)',
    emailDesc: 'Login to the email address used by Scene',
    emailOK: 'The credentials have been sent to your email, please check',
    emailNotFound: 'This mailbox is not registered as a Scene user or has no associated activation record',
    token: 'payment credential',
    tokenDesc: 'Transaction id or activation code',
    password: 'Password',
    passwordDesc: 'The login password of the account',
    get: 'GET',
    submit: 'Delete my account',
    tokenInvalid: 'The credentials are invalid, this activation code does not exist or is not associated with any account',
    allOK: 'Your account data has been deleted, see you next time',
    unbound: 'This account is not tied to this order or exchange code',
    tokenRequired: 'Please enter the payment credential first!',
    passwordInvalid: 'Password is incorrect, please re-enter'
  }
}

export default {
  data () {
    return {
      language: 'zh',
      email: '',
      token: '',
      password: '',
      loading: false,
    }
  },
  methods: {

    onSubmit: throttle(function () {
      if (this.passwordValid && this.emailValid) {
        this.loading = true
        deleteAccount(
          this.email.substring(0, 64),
          this.token.substring(0, 64),
          this.password.substring(0, 64)
        ).then(({ data }) => {
          this.loading = false
          const { error, uid } = data
          if (error === '未找到与此订单关联的账号') {
            alert(this.text.tokenInvalid)
          } else if (error === 'not-found') {
            alert(this.text.emailNotFound)
          } else if (error === 'unbound') {
            alert(this.text.unbound)
          } else if (error === 'token-required') {
            alert(this.text.tokenRequired)
          } else if (error === 'password-invalid') {
            alert(this.text.passwordInvalid)
          } else if (error) {
            alert(error)
          } else {
            account.uid = ''
            account.pwd = ''
            alert(this.text.allOK)
          }
        }).catch((e) => {
          console.error(e)
          this.loading = false
          alert('no response!')
        })
      }
    }, 5000),

  },
  computed: {
    text () {
      return text[this.language]
    },
    emailValid () {
      return /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/.test(this.email)
    },
    tokenValid () {
      if (/^20[0-9]{26}$/.test(this.token)) {
        return true
      } else if (/^10[0-9]{30}$/.test(this.token)) {
        return true
      } else if (/^[0-9A-Z]{17}$/.test(this.token)) {
        return true
      } else if (/^(PK|SK)/.test(this.token)) {
        return true
      } else if (this.token.length == 32) {
        return true
      }
      return false
    },
    passwordValid () {
      return this.password.length >= 6
    }
  }
}
</script>

<style lang="scss">
@import '../styles/user-center.scss';
</style>
