<template>
  <div class="user-center">
    <div class="language">
      <div class="label">语言(language)</div>
      <div class="action" :data-active="language === 'zh'" @click="language = 'zh'">中文</div>
      |
      <div class="action" :data-active="language === 'en'" @click="language = 'en'">English</div>
    </div>
    <div class="tip" v-if="!tokenValid">
      <div class="label">{{ text.tip }}</div>
      <div class="value" v-html="text.tipDesc"></div>
    </div>
    <div class="field" v-show="!isEmailForgot">
      <div class="label">{{ text.email }}</div>
      <div class="value">
        <input type="email" v-model="email" :disabled="tokenValid" :placeholder="text.emailDesc" maxlength="64" />
        <div class="action" @click="emailForgot">{{ text.forgot }}</div>
      </div>
    </div>
    <div class="field" v-show="isEmailForgot || this.emailValid">
      <div class="label">{{ text.token }} </div>
      <div class="value">
        <input type="text" v-model="token" autocomplete="off" :placeholder="text.tokenDesc" maxlength="64" />
        <div class="action" v-show="!isEmailForgot" @click="sendEmail" :disabled="!emailValid">{{ loading ? '…' : text.get }}</div>
      </div>
    </div>
    <div class="field" v-show="tokenValid">
      <div class="label">{{ text.password }}</div>
      <div class="value">
        <input type="text" v-model="password" autocomplete="off" :placeholder="text.passwordDesc" maxlength="64" />
      </div>
    </div>
    <br>
    <button class="button" @click="onSubmit" :disabled="!(tokenValid && passwordValid)">
      {{loading ? '…' : text.submit}}
    </button>
  </div>
</template>

<script>
import { sendEmail, resetPwd } from '../api.js'
import throttle from 'lodash-es/throttle'
import account from './account.js'

const text = {
  zh: {
    tip: '提示',
    tipDesc: '忘记密码后重设密码，需要付款凭据(订单号)或激活码。订单号可以在支付APP的[账单]中查看，激活码通常在与开发者或售后的邮件中。<br>微信订单号格式如：　1000010***，<br>支付宝订单号格式如：2023****，<br>积分版激活码格式如：PK****，<br>限定版激活码格式如：SK****<br>或者输入邮箱后点【获取】找回凭据',
    email: '账号/邮件: ',
    forgot: '我忘了!',
    emailInvalid: '请先输入有效的账号(邮箱)',
    emailDesc: '登录Scene所使用的邮箱',
    emailOK: '凭据已经发送至您的邮箱，请查收',
    emailNotFound: '此邮箱未注册为Scene用户，或无关联的激活记录',
    token: '付款凭据: ',
    tokenDesc: '可以是订单号或者激活码',
    password: '新的密码: ',
    passwordDesc: '设置一个新的密码',
    get: '获取',
    submit: '确认修改',
    tokenInvalid: '凭据无效，此激活码不存在或未关联任何账号',
    allOK: '搞定，请牢记您的账号和密码！'
  },
  en: {
    tip: 'Tips',
    tipDesc: 'Please enter your account number (email) and click [get] to view your credentials via email before you can proceed to change your password.',
    email: 'Account/Email:',
    forgot: 'I forgot!',
    emailInvalid: 'Please enter a valid account number (email)',
    emailDesc: 'Login to the email address used by Scene',
    emailOK: 'The credentials have been sent to your email, please check',
    emailNotFound: 'This mailbox is not registered as a Scene user or has no associated activation record',
    token: 'payment credential',
    tokenDesc: 'Transaction id or activation code',
    password: 'New password',
    passwordDesc: 'Set a new password',
    get: 'GET',
    submit: 'Submit',
    tokenInvalid: 'The credentials are invalid, this activation code does not exist or is not associated with any account',
    allOK: 'Done, please remember your account and password!'
  }
}

export default {
  data () {
    return {
      isEmailForgot: false,
      language: 'zh',
      email: '',
      token: '',
      password: '',
      loading: false,
    }
  },
  methods: {

    emailForgot () {
      this.isEmailForgot = true
      this.email = ''
    },

    sendEmail: throttle(function () {
      if (this.emailValid) {
        this.loading = true
        sendEmail(this.email).then(({ data }) => {
          this.loading = false
          const { error } = data
          if (error === 'invalid') {
            alert('Invalid request!')
          } else if (error === 'not-found') {
            alert(this.text.emailNotFound)
          } else if (error) {
            alert(error)
          } else {
            alert(this.text.emailOK)
          }
        }).catch(() => {
          this.loading = false
          alert('no response!')
        })
      } else {
        alert(this.text.emailInvalid)
      }
    }, 3000),

    onSubmit: throttle(function () {
      if (this.passwordValid && this.tokenValid) {
        this.loading = true
        resetPwd(this.email.substring(0, 64), this.token.substring(0, 64), this.password.substring(0, 64)).then(({ data }) => {
          this.loading = false
          const { error, uid } = data
          if (error === '未找到与此订单关联的账号') {
            alert(this.text.tokenInvalid)
          } else if (uid && uid !== this.email) {
            account.uid = uid
            account.pwd = this.password
            alert(this.text.allOK + '\n' + `${uid}\n${this.password}`)
          } else if (error) {
            alert(error)
          } else {
            account.uid = this.email
            account.pwd = this.password
            alert(this.text.allOK)
          }
        }).catch(() => {
          this.loading = false
          alert('no response!')
        })
      }
    }, 5000),

  },
  computed: {
    text () {
      return text[this.language]
    },
    emailValid () {
      return /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/.test(this.email)
    },
    tokenValid () {
      if (/^20[0-9]{26}$/.test(this.token)) {
        return true
      } else if (/^10[0-9]{30}$/.test(this.token)) {
        return true
      } else if (/^[0-9A-Z]{17}$/.test(this.token)) {
        return true
      } else if (/^(PK|SK)/.test(this.token)) {
        return true
      } else if (this.token.length == 32) {
        return true
      }
      return false
    },
    passwordValid () {
      return this.password.length >= 6
    }
  }
}
</script>

<style lang="scss">
@import '../styles/user-center.scss';
</style>
