<template>
  <div class="user-center">
    <div class="language">
      <div class="label">语言(language)</div>
      <div class="action" :data-active="language === 'zh'" @click="language = 'zh'">中文</div>
      |
      <div class="action" :data-active="language === 'en'" @click="language = 'en'">English</div>
    </div>
    <div v-for="item in items" class="faq">
      <div class="title">{{ item.title }}</div>
      <div class="desc">{{ item.value }}</div>
    </div>
  </div>
</template>

<script>
const items = {
  zh: [
    { title: '如何创建账号？', value: '在Scene中没有单独的注册功能，登录时如果输入了不存在的账号，系统会自动创建新账号' },
    {
      title: '支付后如何激活(微信|支付宝)？',
      value: '支付完成后，需在微信钱包/支付宝账单中查看订单详情，并复制交易单号到Scene进行兑换。注意：支付宝应复制交易单号，而非商户单号！！！'
    },
    {
      title: '支付后如何激活(PayPal|云闪付|Alipay)？',
      value: '由于此类订单存在跨应用或跨地区，往往收款方与付款方看到的订单号不一致。因此需要付款后向开发者发送邮件说明，邮件中应附带包含交易单号的订单详情界面截图。'
    },
    {
      title: '提示订单号无效或未记录？',
      value: '由于订单需要人工同步，在支付后的12~24小时内兑换均可能出现此提示，属于正常现象无需需求帮助。如果超过24小时仍无法兑换，确认订单号无误后，附带订单详情截图联系开发者。'
    },
    {
      title: '提示订单号不能重复使用？',
      value: '同一订单号只能兑换一次，兑换完成后积分和授权信息即转移到账号，如果账号仍有剩余积分，更换设备仅需登录同一账号即可。如果确定账号有剩余积分，登录后却提示试用到期或积分为0，建议认真检查前后登录的账号是否完全一致。注册或再次登录时误输或少输，导致寻求开发者帮助后才发觉的案例非常多。'
    },
    {
      title: '更新App后激活失效了？',
      value: 'Scene不会由于大版本更新而要求用户重新购买。但部分版本更新后会因为底层变动，导致自动激活失败，通常只需要重启手机即可恢复。若重启后仍无法激活，通常考虑当前版本是否为测试版、账户积分是否已经耗尽。若为正式版且有剩余积分，请向开发者反馈问题。'
    },
    {
      title: '如何查看账户积分？',
      value: '在Scene App和【用户】界面中点击头像，即可查看积分使用情况。若授权到期无法登录App，也可在官网用户中心查询。'
    },
    {
      title: '长期不用的设备是否会继续消耗积分？',
      value: '处于关机状态的设备不会消耗积分。通常可以理解为，不启动Scene就不会消耗积分（注意：开机自启动也算启动！）。'
    },
    {
      title: '是否可以多个设备使用同一个账号？',
      value: '完全是可以的。需要注意的是，每台设备每个月都会消耗1积分，因此多设备使用同一账号时，积分消耗会相应增加。'
    },
    {
      title: 'Scene会在何时扣除积分？',
      value: '客户端会不定期请求服务器更新激活状态，如果当前设备距离下一记分周期不足3天，服务器会自动从设备绑定的账号扣除1积分，将授权有效期延长31天。'
    },
    {
      title: '刷机是否会导致激活失效？',
      value: '刷机通常不会导致激活失败，只有极个别的机型会因为更新系统导致激活失效。例如：Google Pixel6系列，此类机型可以联系开发者全额退款。'
    },
    {
      title: '已经购买是否可以退款？',
      value: 'Scene提供长达半个月的试用体验期(需使用较新的版本)，试用期间所有功能均不受限制，用户可以在体验结束后决定是否购买。因此，原则上不支持退款。'
    },
    {
      title: '如何联系开发者？',
      value: '通常建议通过QQ(频道)联系开发者。在Scene App中点击【用户】界面的【Feedback】按钮加入频道，或在QQ直接搜索频道【Scene7】加入，开发者即频道主。强烈建议不要通过酷安、支付App等渠道联系开发者！！！'
    },
    {
      title: '如何反馈问题？',
      value: '在Scene App中点击【用户】界面的【Feedback】按钮加入频道，或在QQ直接搜索频道【Scene7】加入，在频道内私信或@频道主。但建议先在讨论区与其他用户交流，确认问题是否为个例。反馈时应尽量提供详细的问题描述、截图、设备型号、系统版本等信息。避免“这个版本**炸了”、“感觉不如上个版本”此类无效反馈。'
    }
  ],
  en: [
    { title: 'How do I create an account?', value: 'There is no separate registration function in Scene. If you enter a non-existing account when logging in, the system will automatically create a new one.' },
    {
      title: '支付后如何激活(微信|支付宝)？',
      value: '支付完成后，需在微信钱包/支付宝账单中查看订单详情，并复制交易单号到Scene进行兑换。注意：支付宝应复制交易单号，而非商户单号！！！'
    },
    {
      title: 'How to activate (PayPal|UnionPay|Alipay) after payment?',
      value: 'Due to the cross-application or cross-region nature of such orders, often the order number seen by the payee and the payer do not match. Therefore, it is necessary to send an email to the developer after payment to explain this, and the email should be accompanied by a screenshot of the order details screen containing the transaction order number.'
    },
    {
      title: 'Prompt for invalid or unrecorded order number?',
      value: 'Due to the manual synchronization of orders, this prompt may appear within 12~24 hours after payment, which is a normal phenomenon without the need for help. If you are still unable to redeem your order after 24 hours, please contact the developer with a screenshot of your order details after confirming your order number is correct.'
    },
    {
      title: 'Prompt for order numbers that can\'t be reused?',
      value: 'The same order number can only be redeemed once, after the redemption is completed, the points and authorization information will be transferred to the account, if there are still remaining points in the account, you only need to log in to the same account to replace the device. If you are sure that there are remaining points in your account, but after logging in, you are prompted that the trial has expired or the points are zero, we suggest that you carefully check whether the account you logged in before and after is identical. There are many cases of mistaken or missing entries when registering or logging in again, which are only realized after seeking help from the developer.'
    },
    {
      title: 'Activation not working after updating the app?',
      value: 'Scene does not require users to repurchase due to major version updates. However, some versions may fail to activate automatically after an update due to underlying changes, which can usually be recovered by simply restarting the phone. If you still can\'t activate it after reboot, please consider whether the current version is a beta version and whether your account credit has been exhausted. If it is a full version and you have remaining credits, please send feedback to the developer.'
    },
    {
      title: 'How can I check the remaining points in my account?',
      value: 'Click on your avatar in the Scene App and [User] interface to check the use of points. If the authorization expires and you can\'t log in to the App, you can also check in the User Center on the official website.'
    },
    {
      title: 'Do devices that have not been used for a long time continue to consume points?',
      value: 'Devices that are powered off do not consume points. It is usually understood that no points are consumed if Scene is not started (note: power-on self-boot counts as a start!) .'
    },
    {
      title: 'Is it possible to use the same account for multiple devices?',
      value: 'It\'s perfectly fine. Note that each device consumes 1 point per month, so when multiple devices use the same account, the point consumption will increase accordingly.'
    },
    {
      title: 'When does Scene deduct points?',
      value: 'The client will request the server to update the activation status from time to time. If the current device is less than 3 days away from the next scorekeeping cycle, the server will automatically deduct 1 point from the account bound to the device to extend the authorization validity period by 31 days.'
    },
    {
      title: 'Does flashing the rom invalidate the activation?',
      value: 'Flashing the rom does not usually result in activation failure, and only very few models will have activation failure due to updating the system. For example, Google Pixel 6 series, such models can contact the developer for a full refund.'
    },
    {
      title: 'Is it possible to get a refund for a purchase that has already been made?',
      value: 'Scene offers a trial period of up to half a month (with a newer version), during which all features are unlimited and the user can decide whether or not to purchase at the end of the trial. Therefore, refunds are not supported in principle.'
    },
    {
      title: 'How do I contact the developer?',
      value: 'It is usually recommended to contact the developer via QQ (channel). Click the [Feedback] button on the [User] screen in Scene App to join the channel, or search for the channel [Scene7] directly in QQ to join, the developer is the channel owner. It is strongly recommended not to contact the developer through channels such as CoolApk and Pay App!!!!'
    },
    {
      title: 'How do I give feedback on a problem?',
      value: 'Click the [Feedback] button on the [User] screen in the Scene App to join the channel, or search for the channel [Scene7] directly in QQ to join, and send a private message or @ the channel owner within the channel. However, it is recommended to communicate with other users in the discussion forum first to confirm whether the problem is an isolated case. When giving feedback, you should try to provide a detailed description of the problem, screenshots, device model, system version and other information. Avoid invalid feedbacks such as "this version **blows up" or "it doesn\'t feel as good as the last version".'
    }
  ]
}
export default {
  data () {
    return {
      language: 'zh'
    }
  },
  computed: {
    items() {
      return items[this.language]
    }
  }
}
</script>

<style lang="scss">
@import '../styles/user-center.scss';
.faq {
  padding: 10px;
  .title {
    font-size: 16px;
    font-weight: bold;
  }
  .desc {
    font-size: 0.85em;
    color: #666;
    text-align: justify;
    word-break: break-all;
    white-space: pre-wrap;
    line-height: 1.8;
  }
}
</style>
