<template>
  <div class="user-center">
    <div v-if="!record.length">
      <div class="language">
        <div class="label">语言(language)</div>
        <div class="action" :data-active="language === 'zh'" @click="language = 'zh'">中文</div>
        |
        <div class="action" :data-active="language === 'en'" @click="language = 'en'">English</div>
      </div>
      <div class="field">
        <div class="label">{{ text.email }}</div>
        <div class="value">
          <input type="email" v-model="email" maxlength="64" />
        </div>
      </div>
      <div class="field">
        <div class="label">{{ text.oldPassword }}</div>
        <div class="value">
          <input type="email" v-model="oldPassword" maxlength="64" />
        </div>
      </div>
      <div class="field">
        <div class="label">{{ text.newPassword }}</div>
        <div class="value">
          <input type="email" v-model="newPassword" maxlength="64" />
        </div>
      </div>
      <button class="button" @click="onSubmit" :disabled="!(email && newPassword && oldPassword)">
        {{loading ? '…' : text.submit}}
      </button>
    </div>
  </div>
</template>

<script>
import { modifyPwd } from '../api.js'
import account from './account.js'

const text = {
  zh: {
    tip: '提示',
    tipDesc: '忘记密码后重设密码，需要付款凭据(订单号)或激活码。订单号可以在支付APP的[账单]中查看，激活码通常在与开发者或售后的邮件中。<br>微信订单号格式如：　1000010***，<br>支付宝订单号格式如：2023****，<br>积分版激活码格式如：PK****，<br>限定版激活码格式如：SK****<br>或者输入邮箱后点【获取】找回凭据',
    email: '账号/邮件: ',
    emailNotFound: '无此账号',
    query: '查询',
    oldPassword: '原密码',
    newPassword: '新密码',
    passwordInvalid: '密码错误',
    submit: '确认修改',
    allOK: '搞定'
  },
  en: {
    tip: 'Tips',
    tipDesc: 'Please enter your account number (email) and click [get] to view your credentials via email before you can proceed to change your password.',
    email: 'Account/Email:',
    emailNotFound: 'No such account',
    query: 'Query',
    oldPassword: 'Current password',
    newPassword: 'New password',
    passwordInvalid: 'Invalid password',
    submit: 'Submit',
    allOK: 'modify successfully'
  }
}
export default {
  data () {
    return {
      language: 'zh',
      email: '',
      oldPassword: '',
      newPassword: '',
      record: [],
      stat: null
    }
  },
  methods: {
    onSubmit () {
      if (!(this.newPassword && this.oldPassword)) {
        return
      }
      modifyPwd(this.email, this.oldPassword, this.newPassword).then(res => {
        if (res.data) {
          const { error } = res.data
          if (error == "password-invalid") {
            alert(this.text.passwordInvalid)
          } else if (error === 'not-found') {
            alert(this.text.emailNotFound)
          } else if (error) {
            alert(error)
          } else {
            account.uid = this.email
            account.pwd = this.newPassword
            alert(this.text.allOK)
          }
        }
      })
    }
  },
  computed: {
    text () {
      return text[this.language]
    }
  },
}
</script>

<style lang="scss">
@import '../styles/user-center.scss';
.user-center {
  .stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  .record {
    padding: 3px 10px;

    margin-bottom: 3px;
    .title {

    }
    .date {
      font-size: 0.75em;
      color: #888;
    }
  }
}
</style>
