<template>
  <div class="user-center">
    <div v-if="!record.length">
      <div class="language">
        <div class="label">语言(language)</div>
        <div class="action" :data-active="language === 'zh'" @click="language = 'zh'">中文</div>
        |
        <div class="action" :data-active="language === 'en'" @click="language = 'en'">English</div>
      </div>
      <div class="field">
        <div class="label">{{ text.email }}</div>
        <div class="value">
          <input type="email" v-model="email" maxlength="64" />
        </div>
      </div>
      <div class="field">
        <div class="label">{{ text.password }}</div>
        <div class="value">
          <input type="email" v-model="password" maxlength="64" />
        </div>
      </div>
      <button class="button" @click="query" :disabled="!(email && password)">
        {{loading ? '…' : text.query}}
      </button>
    </div>
    <div class="stat" v-if="stat">
      <div>累计：<font color="black">{{ stat.total }}</font></div>
      <div>已用：<font color="red">{{ stat.consume }}</font></div>
      <div>剩余：<font color="green">{{ stat.free }}</font></div>
    </div>
    <div class="record" v-for="item in record" :key="item.time">
      <div class="title">{{ item.integral }} {{ item.remark }} | {{ item.source || item.serial_id || item.serial_no || item.device_id || '--'}}</div>
      <div class="date">{{ new Date(item.time).toLocaleDateString() }}</div>
    </div>
  </div>
</template>

<script>
import { accountRecord } from '../api.js'
import account from './account.js'

const text = {
  zh: {
    tip: '提示',
    tipDesc: '忘记密码后重设密码，需要付款凭据(订单号、激活码、卡密)。订单号可以在支付APP的[账单]中查看，激活码通常在与开发者或售后的邮件中，卡密通常从发卡网站获得。<br>微信订单号格式如：　1000010***，<br>支付宝订单号格式如：2023****，<br>积分版激活码格式如：PK****，<br>限定版激活码格式如：SK****<br>或者输入邮箱后点【获取】找回凭据',
    email: '账号/邮件: ',
    emailNotFound: '无此账号',
    query: '查询',
    password: '密码',
    passwordInvalid: '密码错误',
    noRecord: '无积分记录'
  },
  en: {
    tip: 'Tips',
    tipDesc: 'Please enter your account number (email) and click [get] to view your credentials via email before you can proceed to change your password.',
    email: 'Account/Email:',
    emailNotFound: 'No such account',
    query: 'Query',
    password: 'Password',
    passwordInvalid: 'Invalid password',
    noRecord: 'No record found'
  }
}
export default {
  data () {
    return {
      language: 'zh',
      email: '',
      password: '',
      record: [],
      stat: null,
      loading: false
    }
  },
  methods: {
    query () {
      if (!this.password || this.loading) {
        return
      }
      this.loading = true
      accountRecord(this.email, this.password).then(res => {
        this.loading = false
        if (res.data) {
          const records = res.data.records || []
          this.record = records
          const { error } = res.data
          if (error == "password-invalid") {
            alert(this.text.passwordInvalid)
          } else if (error === '账号已注销') {
            alert(this.text.emailNotFound)
          } else if (res.data.total === 0) {
            alert(this.text.noRecord)
          } else if (error) {
            alert(error)
          } else {
            account.uid = this.email
            account.pwd = this.password
            this.stat = {
              total: res.data.total,
              free: res.data.free,
              consume: res.data.consume,
            }
            records.forEach(it => {
              if (it.source && it.source.indexOf(':') > -1) {
                it.source = it.source.split(':')[1]
              }
            })
          }
        }
      }).catch(e => {
        this.loading = false
      })
    }
  },
  computed: {
    text () {
      return text[this.language]
    }
  },
}
</script>

<style lang="scss">
@import '../styles/user-center.scss';
.user-center {
  .stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  .record {
    padding: 3px 10px;

    margin-bottom: 3px;
    .title {

    }
    .date {
      font-size: 0.75em;
      color: #888;
    }
  }
}
</style>
