<template>
  <div>
    <!--1<c-c v=1 a=2 :cccc="1" />-->
    <div class="home-page">
      <div class="versions">
        <div class="scene4" @click="s4Minimize = false" :class="{ minimize: s4Minimize }">
          <div class="name">SCENE <span class="free">免费版</span></div>
          <div class="author">Design by 嘟嘟Ski</div>
          <div class="content">
            <div class="version">Scene4是一个免费且开源的版本, 你需要具有ROOT权限</div>
            <div class="last-version">最新版: {{versionInfo.versionName}}</div>
          </div>
          <button class="download" @click="download">{{s4Minimize ? '获取': '立即下载'}}</button>
          <!--<div class="app-name">Toolbox · Scene</div>-->
          <div class="get-history" @click="getHisotry">⏱ Github - Releases</div>
        </div>
        <div class="scene5" :class="{ maximize: s4Minimize }" @click="s4Minimize = true">
          <div class="user">
            <a href="#/user">
              <img src="../assets/img/user.png" alt="">
            </a>
          </div>

          <div class="name">SCENE8<span class="pro">专业版</span></div>
          <div class="author">Design by 嘟嘟Ski</div>
          <div class="content">
            <div class="version">
              提供基础模式、ADB模式、ROOT模式<br>
              ROOT模式15天免费试用，到期后需付费购买<br>
              加入官方频道发现更多玩机同好<br>
              🇨🇳 中国 <a href="https://pd.qq.com/s/72l4ha1x9">QQ频道</a>
              &nbsp;&nbsp;
              🌍Global <a href="https://t.me/scene2023">Telegram</a>
            </div>
            <div class="last-version">最新版: {{proVersionInfo.versionName}}</div>
          </div>
          <div class="images">
            <div class="list">
              <div class="img" v-for="(image, i) in images" :key="i" @click="currentPreview = i"
                :data-active="currentPreview == i">
                <img :src="image" alt="">
              </div>
            </div>
            <div class="big">
              <img :src="images[currentPreview]" alt="">
            </div>
          </div>
          <div>
            <button class="download" @click="download5">立即下载</button>
            <div class="more-versions" @click="moreVersions">更多版本 &gt;&gt;</div>
          </div>
        </div>
      </div>
    </div>

    <div class="app-desc" v-if="appRecommend.length">
      <div class="">Additional parts</div>
      <div class="app-list">
        <div v-for="(app, $index) in appRecommend" :key="$index" class="app-item" @click="downloadApp(app)">
          <div>{{app.appName}}</div>
          <div class="app-item-desc">{{app.desc}}</div>
        </div>
      </div>
      <!--<div class="function-desc">以上资源来源于互联网，如有侵权，请联系我删除</div>-->
    </div>
    <div class="footer">湘ICP备2023024708号</div>
  </div>
</template>

<script>
import axios from 'axios'
const images = [
  require('../assets/img/1.png'),
  require('../assets/img/2.png'),
  require('../assets/img/3.png'),
  require('../assets/img/4.png'),
  require('../assets/img/5.png'),
  require('../assets/img/6.png'),
  require('../assets/img/7.png'),
  require('../assets/img/8.png'),
]

export default {
  data () {
    return {
      images,
      s4Minimize: true,
      currentPreview: 0,
      proVersionInfo: {
        "title": "Scene",
        "message": "",
        "versionName": "...",
        "versionCode":"",
        "downloadUrl":""
      },
      versionInfo: {
        "title": "Scene",
        "message": "",
        "versionName": "...",
        "versionCode":"",
        "downloadUrl":""
      },
      appRecommend: [
        /*
        {
          appName: 'Scene xposed plug-in',
          desc: 'Install it to use xposed related features in Scene',
          downloadUrl: 'http://atools.oss-cn-shenzhen.aliyuncs.com/app1/Scene%20-%20%E9%AB%98%E7%BA%A7%E8%AE%BE%E5%AE%9A_1.0.7%20scene.apk'
        },
        {
          appName: '微插件 独立版',
          desc: '单独修改应用DPI，不能和“Scene 高级设定”同时安装',
          downloadUrl: 'http://atools.oss-cn-shenzhen.aliyuncs.com/app1/vaddin_old.apk'
        },
        {
          appName: 'Ding Hook',
          desc: '钉钉打卡作弊，在Xposed管理器激活并重启手机。在办公室可打开环境内打开钉钉，根据提示采集基站和WIFI信息。',
          downloadUrl: 'http://atools.oss-cn-shenzhen.aliyuncs.com/app1/DingHook%201.0.1.apk'
        }
        {
          appName: '钛备份8.0.2 专业破解版',
          desc: '刷机备份还原必备神器~',
          downloadUrl: 'http://atools.oss-cn-shenzhen.aliyuncs.com/app1/%E9%92%9B%E5%A4%87%E4%BB%BD_8.0.2.apk'
        },
        {
          appName: 'GLTools 4.0 英文原版',
          desc: '模拟GPU信息，调整渲染纹理，帧率显示等。需要ROOT并解锁System分区或安装Magisk！',
          downloadUrl: 'http://atools.oss-cn-shenzhen.aliyuncs.com/app1/GLTools_4.00.apk'
        },
        {
          appName: 'Ansole 4.0',
          desc: '安卓上的命令行工具，支持中文',
          downloadUrl: 'http://atools.oss-cn-shenzhen.aliyuncs.com/app1/Ansole_4.0-release.apk'
        },
        {
          appName: 'APktool+助手 1.7.8_adv',
          desc: '反编译和修改安卓应用',
          downloadUrl: 'http://atools.oss-cn-shenzhen.aliyuncs.com/app1/APktool%2B%E5%8A%A9%E6%89%8B_1.7.8_adv.apk'
        },
        {
          appName: 'ES文件浏览器_4.1.8.4.2.apk',
          desc: '好用的文件管理器',
          downloadUrl: 'http://atools.oss-cn-shenzhen.aliyuncs.com/app1/ES%E6%96%87%E4%BB%B6%E6%B5%8F%E8%A7%88%E5%99%A8_4.1.8.4.2.apk'
        }
        */
      ],
      orientation: {
        absolute: false,
        alpha: 0,
        beta: 90,
        gamma: 0
      },
      animation: {
        current: 0,
        to: 0,
        interval: -1
      }
    }
  },
  created () {
    if (window.SceneUI) {
      window.SceneUI.setStatusBarColor('#ff00b9c2')
      window.SceneUI.setNavigationBarColor('#ff00b9c2')
    }

    axios.get(window.location.protocol + '//vtools.oss-cn-beijing.aliyuncs.com/vi/Scene8.json?dt=' + new Date().getTime()).then(r => {
      this.proVersionInfo = r.data
    }).catch(e => {
      this.proVersionInfo.versionName = '--'
      // alert('获取版本信息失败~')
    })

    axios.get(window.location.protocol + '//vtools.oss-cn-beijing.aliyuncs.com/vi/Scene4.json?dt=' + new Date().getTime()).then(r => {
      this.versionInfo = r.data
    }).catch(e => {
      alert('获取版本信息失败~')
    })
  },
  methods: {
    downloadApp (app) {
      window.open(app.downloadUrl)
    },
    openAlipay () {
      var ua = navigator.userAgent.toLowerCase()
      if (ua.indexOf('micromessenger') !== -1 || ua.indexOf('qq') !== -1) {
        alert('在QQ/微信/TIM里，无法启动支付宝，请在浏览器里打开本页面！')
      }
      window.location.href = (`alipayqr://platformapi/startapp?saId=10000007&clientVersion=3.7.0.0718&qrcode=${encodeURIComponent('HTTPS://QR.ALIPAY.COM/FKX05665KXCDCLC2YAEL0E')}%3F_s%3Dweb-other&_t=${new Date().getTime()}`)
    },
    getHisotry () {
      window.location.href = 'https://github.com/helloklf/vtools/releases'
    },
    download5 () {
      if (!this.s4Minimize) {
        this.s4Minimize = true
        return
      }
      var ua = navigator.userAgent.toLowerCase()
      if (ua.indexOf('iphone') > -1 || ua.indexOf('windows phone') > -1 || ua.indexOf('windows mobile') > -1) {
        alert('请不要在iOS、WP设备上下载此应用，并不支持！')
        return
      }
      this.s4Minimize = true
      window.location.href = this.proVersionInfo.downloadUrl
    },
    download () {
      if (this.s4Minimize) {
        this.s4Minimize = false
        return
      }
      var ua = navigator.userAgent.toLowerCase()
      if (ua.indexOf('iphone') > -1 || ua.indexOf('windows phone') > -1 || ua.indexOf('windows mobile') > -1) {
        alert('请不要在iOS、WP设备上下载此应用，并不支持！')
        return
      }
      if (this.versionInfo.downloadUrl) {
        window.location.href = this.versionInfo.downloadUrl
      } else if (this.versionInfo.versionCode) {
        window.location.href = 'http://vtools.oss-cn-beijing.aliyuncs.com/app-release' + this.versionInfo.versionCode + '.apk'
      } else {
        window.location.href = 'http://vtools.oss-cn-beijing.aliyuncs.com/app-release.apk'
      }
    },
    deviceOrientation (e) {
      // this.orientation.absolute = e.absolute
      this.orientation.alpha = parseInt(e.alpha)
      this.orientation.beta = parseInt(e.beta) - 45
      this.orientation.gamma = parseInt(e.gamma)

      //this.$refs.phone.setAttribute('style', `transform: rotateY(${this.orientation.alpha}deg) rotateX(${this.orientation.beta}deg) rotateZ(${this.orientation.gamma}deg);`)
      //this.$refs.phone.style.transform = `rotateY(${this.orientation.alpha}deg) rotateX(${this.orientation.beta}deg) rotateZ(${this.orientation.gamma}deg)`
      // this.animationTo(this.orientation.gamma * 3 - 150)
      this.$refs.phone.style.transform = (`translateX(${this.orientation.gamma * 3 - 30}px)`)
    },
    animationTo (to) {
      this.animation.to = to
      if (this.animation.interval < 0) {
        this.animation.interval = window.setInterval(() => {
          let v = Math.abs(this.animation.current - this.animation.to)
          let sqrt = parseInt(Math.sqrt(v, 3)) / 2
          if (v <= sqrt) {
            window.clearInterval(this.animation.interval)
            this.animation.interval = -1
            this.animation.current = this.animation.to
          } else if (this.animation.to > this.animation.current) {
            this.animation.current += sqrt
          } else {
            this.animation.current -= sqrt
          }
          this.$refs.phone.style.transform = (`translateX(${this.animation.current}px)`)
        }, 4)
      }
    },
    moreVersions () {
      window.location.href = 'http://download.omarea.com/#/versions'
    }
  },
  mounted () {
    // window.addEventListener('deviceorientation', this.deviceOrientation)
  },
  computed: {
  }
}
</script>

<style lang="scss">
@keyframes phone {
  0% {
    transform: translateX(-50vw) scale(1.06);
  }
  30% {
    transform: translateX(-50vw) scale(1.06);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@keyframes appInfo {
  0% {
    transform: scale(0.8);
    opacity: 0.1;
  }
  30% {
    transform: scale(0.8);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 0.9;
  }
}
.home-page {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
  * {
    transition: all 0.3s;
    box-sizing: border-box;
  }
  .versions {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .scene4, .scene5 {
    min-height: 70vw;
    position: relative;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    > .content {
      flex: 1;
    }
    > .name {
      font-size: 16.5vw;
      font-weight: 200;
    }
  }
  .scene4 {
    flex: 1;
    color: #BC8DE4;
    font-weight: 200;
    border-bottom: 2px solid #BC8DE4;
    .free {
      background-color: #ded2e9;
      color: #BC8DE4;
      font-size: 9px;
      padding: 2px 3px;
      border-radius: 5px;
      vertical-align: middle;
    }
    &.minimize {
      flex: unset;
      min-height: 0;
      .get-history,
      .author,
      .version {
        overflow: hidden;
        height: 0;
        margin: 0;
      }
      .content {
        flex: unset;
      }
      .last-version {
        font-size: 11px;
        opacity: 0.6;
        line-height: 1;
        margin-bottom: 0;
        margin-top: 5px;
      }
      .download {
        font-size: 11px;
        letter-spacing: 0;
        position: absolute;
        right: 10px;
        top: 12px;
        margin-top: 0;
        width: 60px;
        overflow: hidden;
        text-overflow: clip;
        word-break: keep-all;
        white-space: nowrap;
        height: 40px;
        line-height: 40px;
        color: #BC8DE4;
        background-color: #fff;
        box-shadow: 0 0 3px #ccc;
      }
      > .name {
        font-size: 12px;
        font-weight: 200;
      }
    }
  }
  .scene5 {
    min-height: 50%;
    background-color: #fff;
    border-bottom: 3px solid #138ed6;
    color: #138ed6;
    font-weight: 200;
    .pro {
      font-size: 12px;
    }
    &.maximize {
      .content {
        flex: unset;
      }
      .images {
        height: auto;
        flex: 1;
      }
    }
    .images {
      overflow: hidden;
      height: 0px;
      vertical-align: top;
      flex-direction: row;
      display: flex;
      padding: 20px 2px 20px 2px;
      .list {
        display: flex;
        flex-direction: column;
        width: 50px;
        .img {
          box-sizing: border-box;
          display: inline-block;
          width: 50px;
          height: 55px;
          border-radius: 4px;
          overflow: hidden;
          background-color: #fff;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border: 1px solid #fff;
          border: 1px solid #138ed663;
          margin-right: 2px;
          &:not(:last-child) {
            margin-bottom: 8px;
          }
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          &[data-active=true] {
            height: 85px;
            box-shadow: 0 0 3px #138ed6;
          }
        }
      }
      .big {
        flex: 1;
        padding-left: 10px;
        img {
          object-fit: cover;
          display: block;
          width: 100%;
          height: 140vw;
          outline: none;
          border-radius: 10px;
          box-shadow: 0 0 3px #138ed6;
        }
      }
    }
  }
  .user {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 32px;
    width: 32px;
    box-shadow: 0 0 10px #0060a53d;
    border-radius: 50%;
    img {
      height: 100%;
      display: block;
    }
  }
  .author {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.4);
  }
  .download {
    background-color: rgba(255, 255, 255, 0.2);
    color: #138ed6;
    display: block;
    width: 100%;
    height: 12vw;
    font-size: 4vw;
    display: inline-block;
    margin: 1.5em auto 0.1em auto;
    border-radius: 10px;
    letter-spacing: 2px;
    font-weight: 200;
    border: none;
    transition: all 0.2s;
    box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.3);
    text-transform: uppercase;
  }
  .download:active {
    transform: scale(0.95);
  }
  .more-versions {
    margin: 1em auto 0 auto;
    width: 10em;
    font-size: 12px;
    text-align: center;
  }
  .last-version {
    margin-top: 1em;
    font-size: 0.8em;
  }
  .version {
    font-size: 12px;
    opacity: 0.9;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .get-history {
    text-align: center;
    margin-top: 1em;
    font-size: 12px;
    opacity: 0.6;
  }
}
.footer {
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
  display: block;
  color: #888;
  padding-bottom: 10px;
}
.app-desc {
  padding: 50px;
}
.app-list {
  margin: 10px 0;
  .app-item {
    font-size: 13px;
    background-color: rgba(220, 220, 220, 0.3);
    border-radius: 5px;
    padding: 6px 10px;
    margin-bottom: 4px;
  }
  .app-item-desc {
    font-weight: 200;
    font-size: 12px;
  }
}
</style>
