<template>
  <div class="markdown">
    <div v-html="content"></div>
  </div>
</template>
<script>
import Markdown from 'markdown-it';
import hljs from 'highlight.js/lib/core'
import 'highlight.js/styles/github.css'
import axios from 'axios'

import javascript from 'highlight.js/lib/languages/javascript';
import json from 'highlight.js/lib/languages/json';
import shell from 'highlight.js/lib/languages/shell';

// Then register the languages you need
hljs.registerLanguage('javascript', javascript);
hljs.registerLanguage('json', json);
hljs.registerLanguage('shell', shell);

export default {
  data () {
    return {
      content: ''
    }
  },
  mounted () {
    this.loadFile();
  },
  watch: {
    '$route.query.doc' () {
      this.loadFile();
    }
  },
  methods: {
    loadFile () {
      const md = new Markdown({
        html: true,
        linkify: true,
        typographer: true,
        highlight: function (str, lang) {
          if (lang && hljs.getLanguage(lang)) {
            try {
              return hljs.highlight(str, { language: lang }).value;
            } catch (__) {}
          }

          return ''; // use external default escaping
        }
      })
      .enable(['link'])
      .enable('image');
      md.normalizeLink = function (url) {
        if (url.startsWith('./')) {
          return '/#/markdown?doc=' + encodeURIComponent('/scene7/docs/' + url.substring(2));
        }
        return url;
      };
      const doc = this.$route.query.doc;
      axios.default.get(doc).then((r) => {
        console.log(r.data)
        if (r.data) {
          const result = md.render(r.data);
          this.content = result;
          this.$nextTick(() => {
            document.body.scroll(0, 0);
            window.hljs = hljs
            document.querySelectorAll('pre code').forEach((block) => {
              hljs.highlightBlock(block);
            });
          });
        }
      })
    }
  }
}
</script>

<style lang="scss">
.markdown {
  font-size: 12px;
  word-break: break-all;
  padding: 10px;
  line-height: 1.6;
  table {
    border-collapse: separate;
    border-spacing: 0; /* 水平间距 垂直间距 */
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 12px;
    td, th {
      padding: 4px;
    }
    tr > th,
    tr > td {
      border-bottom: 1px solid #ddd;
    }
    tr > th,
    tr > td {
      border-right: 1px solid #ddd;
      min-width: 2em;
    }
  }
  blockquote {
    border-left: solid 4px #ddd;
    padding-left: 8px;
    margin-left: 0em;
    code {
      background-color: #f0f0f0;
      padding: 0 2px;
      color: #005cc5;
    }
  }
  pre {
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 8px;
    white-space: pre-wrap;
    overflow-x: auto;
    text-align: justify;
    tab-size: 1em;
    word-break: normal;
    code {
      display: block;
      min-width: 50em;
    }
  }
  ul, ol {
    padding-left: 12px;
  }
}
</style>
