<template>
  <div class="user-center">
    <div class="language">
      <div class="label">语言(language)</div>
      <div class="action" :data-active="language === 'zh'" @click="language = 'zh'">中文</div>
      |
      <div class="action" :data-active="language === 'en'" @click="language = 'en'">English</div>
    </div>

    <div class="menus">
      <div class="menu" @click="jump('/record')">
        <div class="icon">
          <img src="../assets/img/query.png" alt="">
        </div>
        <div class="content">
          <div class="title">积分查询</div>
          <div class="desc">查询账号的积分充值和消耗记录</div>
        </div>
      </div>
      <div class="menu" @click="jump('/email')">
        <div class="icon">
          <img src="../assets/img/password.png" alt="">
        </div>
        <div class="content">
          <div class="title">忘记密码</div>
          <div class="desc">我忘了我的账号或登录密码</div>
        </div>
      </div>
      <div class="menu" @click="jump('/pwd')">
        <div class="icon">
          <img src="../assets/img/pwd.png" alt="">
        </div>
        <div class="content">
          <div class="title">修改密码</div>
          <div class="desc">修改我的登录密码</div>
        </div>
      </div>
      <div class="menu" @click="jump('/user-name')">
        <div class="icon">
          <img src="../assets/img/uname.png" alt="">
        </div>
        <div class="content">
          <div class="title">修改账号</div>
          <div class="desc">我需要更改我的账号(邮箱)</div>
        </div>
      </div>
      <div class="menu" @click="jump('/devices')">
        <div class="icon">
          <img src="../assets/img/devices.png" alt="">
        </div>
        <div class="content">
          <div class="title">设备管理</div>
          <div class="desc">查看和管理账号下绑定的设备</div>
        </div>
      </div>
      <div class="menu" @click="jump('/faq')">
        <div class="icon">
          <img src="../assets/img/question.png" alt="">
        </div>
        <div class="content">
          <div class="title">常见问题</div>
          <div class="desc">一些常见问题的解决方式</div>
        </div>
      </div>
      <a class="menu"
        href="mqqwpa://im/chat?chat_type=wpa&uin=1191634433&version=1&src_type=web&web_src=oicqzone.com">
        <div class="icon">
          <img src="../assets/img/kf.png" alt="">
        </div>
        <div class="content">
          <div class="title">人工客服</div>
          <div class="desc">自助服务无法解决问题，我需要帮助</div>
        </div>
      </a>
      <a class="menu" href="https://pd.qq.com/s/4b7zjvtcs">
        <div class="icon">
          <img src="../assets/img/qq.png" alt="">
        </div>
        <div class="content">
          <div class="title">QQ频道</div>
          <div class="desc">与其他用户一起探讨和分享玩机经验</div>
        </div>
      </a>
      <div class="menu" @click="jump('/destroy')">
        <div class="icon">
          <img src="../assets/img/delete.png" alt="">
        </div>
        <div class="content">
          <div class="title">注销账号</div>
          <div class="desc">从Scene的服务器永久删除我的账号信息</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      language: 'zh',
    }
  },
  methods: {
    jump (url) {
      this.$router.push(url)
    }
  }
}
</script>

<style lang="scss">
@import './styles/user-center.scss';
</style>
