<template>
  <div class="download-versions">
    <div v-for="link in links" class="version" @click="jumpDownload(link)">
      <div class="name">{{ link.innerHTML }}</div>
      <div class="date">{{ link.date }} &nbsp;&nbsp; {{ link.size }}</div>
    </div>
  </div>
</template>

<script>
import FilesMixins, { baseUrl } from './Files.mixins'

export default {
  mixins: [FilesMixins],
  data() {
    return {
      links: []
    };
  },
  methods: {
  },
  watch: {
    '$route.query.dir' () {
      this.loadFiles();
    }
  },
  mounted () {
    this.loadFiles();
  }
};
</script>

<style lang="scss">
.download-versions {
  font-size: 20px;
  .version {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 153, 255, 0.257) 0.05em 0.05em 0.2em;
    border-radius: 4px;
    .name {
      margin-bottom: 0.25em;
      color: rgb(0, 93, 175);
    }
    .date {
      font-size: 12px;
      color: rgba(1, 24, 51, 0.267);
    }
  }
}
</style>
