html,body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

input, button, select {
  appearance: none;
  display: block;
  min-width: 0;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(225,225,225,0.5);
  box-shadow: none;
  outline: none;
  font-size: inherit;
  height: 2.5em;
}

pre {
  word-break: break-all;
  white-space: pre-wrap;
}