@keyframes input-hint {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.user-center {
  padding: 10px;
  font-size: 16px;
  line-height: 1.7;
  .field, .button, .tip, .language {
    padding: 5px;
    border-radius: 3px;
    display: flex;
    margin-bottom: 1em;
  }
  .field {
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    word-break: keep-all;
    .label {
      font-size: 0.7em;
      color: #666;
    }
    .value {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      input {
        border-width: 0;
        width: 100%;
        flex: 1;
        color: rgb(0, 93, 175);
        &:disabled {
          color: #888;
        }
      }
      .action {
        width: auto;
        min-width: 3em;
        display: inline-block;
        color: #ccc;
        &:not([disabled='disabled']) {
          color: rgb(0, 93, 175);
        }
      }
    }
  }
  .language {
    box-shadow: 0 0 3px #ccc;
    padding: 10px;
    font-size: 0.8em;
    color: #888;
    border-radius: 5px;
    .label {
      flex: 1;
    }
    .action {
      padding: 0 5px;
      transition: all 0.2s;
      &[data-active='true'] {
        color: #0094ff;
        font-weight: 600;
      }
    }
  }
  .tip {
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.8em;
    font-weight: 300;
    .label {
      color: #000;
      font-size: 1.2em;
    }
    .value {
      margin-top: 0.5em;
      font-size: 0.7em;
      color: #777;
    }
  }
  .button {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border: 1px solid #ccc;
    text-align: center;
    justify-content: center;
    height: 2.8em;
    border-radius: 4px;
    &:disabled {
      background-color: rgba(128, 128, 128, 0.05);
    }
    &:not(:disabled):active {
      background-color: rgba(128, 128, 128, 0.2);
    }
    &[danger]:not(:disabled) {
      background-color: rgb(234, 70, 0);
      color: #fff;
    }
  }

  .menus {
    margin-top: 20px;
  }
  .menu {
    margin-bottom: 20px;
    position: relative;
    padding: 15px 50px 15px 20px;
    box-shadow: 0 0 3px #79797967;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: inherit;
    text-decoration: none;
    &:active {
      background-color: #f0f0f0;
    }
    .icon {
      height: 32px;
      width: 32px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .title {}
    .desc{
      opacity: 0.5;
      font-size: 0.7em;
    }
    &::after {
      position: absolute;
      display: inline-block;
      content: ' ';
      height: 24px;
      width: 24px;
      text-align: center;
      line-height: 20px;
      right: 15px;
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: 0.5;
      background-image: url('/assets/img/arrow_right.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}